*.pyc
*__pyc*/
*.pio/
*.vscode/
misc/svd/*.html
*.rst
.attic/
.cache/
.venv/
.idea/
.mypy_cache/
.pytest_cache/
.vscode/
__pycache__/
*.pyc
/build
proto.gv*
.DS_Store
*.mp4
*.gif
*.png
*ICENS*
COPY*
*CONTRIBU*
AUTH*
*PATCH*
*.txt
!CMakeLists.txt
Change*
CHANGE*
README
asf4/
nxp*/
docs/
doc/
*.md
!core/CHANGELOG.md